*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    width:100%;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
}

.logo h2{
    color:#333;
}

.menu a{
    text-decoration:none;
    color:gray;
    margin:0 10px;
    font-size:15px;
}

.login button{
    padding:8px 18px;
    border:none;
    background:#d8ecff;
    color:#2196f3;
    border-radius:5px;
    cursor:pointer;
}

.mobile-menu{
    display:none;
    position:relative;
}

.menu-btn{
    text-decoration:none;
    font-size:30px;
    color:black;
    outline:none;
}

.nav-links{
    display:none;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:50px 40px;
}

.left{
    width:50%;
}

.right{
    width:50%;
    text-align:center;
}

.left h1{
    font-size:42px;
    color:#444;
}

.left span{
    color:#2196f3;
}

.left p{
    margin:20px 0;
    color:gray;
    width:80%;
    line-height:24px;
}

.left button{
    padding:12px 25px;
    background:#2196f3;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.right img{
    width:70%;
}

@media screen and (max-width:768px){

    .menu{
        display:none;
    }

    .login{
        display:none;
    }

    .mobile-menu{
        display:block;
    }

    .menu-btn{
        display:block;
    }

    .menu-btn:focus + .nav-links{
        display:block;
    }

    .nav-links{
        position:absolute;
        top:45px;
        right:0;
        width:180px;
        background:black;
        padding:20px;
    }

    .nav-links a{
        display:block;
        color:white;
        text-decoration:none;
        margin:15px 0;
    }

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .left{
        width:100%;
    }

    .right{
        width:100%;
        margin-top:30px;
    }

    .left p{
        width:100%;
    }

    .left button{
        width:100%;
    }

    .right img{
        width:75%;
    }
}