*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    width:100%;
}

nav{
    padding:20px 50px;
}

.logo,
.nav-links,
.login{
    display:inline-block;
    vertical-align:middle;
}

.logo{
    width:20%;
}

.nav-links{
    width:55%;
    text-align:center;
}

.login{
    width:20%;
    text-align:right;
}

.nav-links a{
    text-decoration:none;
    color:gray;
    margin:0 12px;
}

.login button{
    padding:10px 20px;
    border:none;
    background:#d9efff;
    color:#2196f3;
    border-radius:5px;
}

.hero{
    width:90%;
    margin:40px auto;
}

.left,
.right{
    display:inline-block;
    width:48%;
    vertical-align:middle;
}

.left h1{
    font-size:45px;
    color:#444;
}

.left span{
    color:#2196f3;
}

.left p{
    margin:20px 0;
    color:gray;
    line-height:24px;
}

.left button{
    padding:14px 28px;
    border:none;
    background:#2196f3;
    color:white;
    border-radius:5px;
}

.right{
    text-align:center;
}

.right img{
    width:70%;
}

#menu{
    display:none;
}

.menu-btn{
    display:none;
    font-size:28px;
    cursor:pointer;
}

@media(max-width:768px){

  .menu-btn{
    display:none;
    font-size:28px;
    cursor:pointer;
}

    .login{
        display:none;
    }

    .nav-links{
        display:none;
        width:220px;
        height:100vh;
        background:black;
        position:fixed;
        top:0;
        right:0;
        padding-top:100px;
        text-align:center;
    }

    .nav-links a{
        display:block;
        color:white;
        margin:25px 0;
    }

    #menu:checked ~ .nav-links{
        display:block;
    }

    .left,
    .right{
        display:block;
        width:100%;
        text-align:center;
    }

    .left h1{
        font-size:32px;
    }

    .right img{
        width:70%;
        margin-top:30px;
    }

    .left p{
        width:100%;
    }
}